.contactList {
    width: 960px;
    display: flex;
    margin: 0 auto;
  }
  
  .contactsItem {
    width: 250px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    background: white;
    height: 150px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(100, 221, 230, 0.19), 0 6px 6px rgba(91, 217, 226, 0.23);
    border-radius: 5px;
  }
  
  .active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
  }
  
  .active button {
    width: 50px;
  }
  
  .contactList ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    list-style-type: none;
  }
  
  .disabled {
    display: none;
  }
  